body {
  background-color: #f2f7fa;
}
.content {
  margin: 0 auto;
  max-width: 75%;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #07C;
  border-bottom: 1px dotted #07C;
}
a:hover {
  border-bottom: 1px solid #07C;
}
li {
  margin-bottom: 5px;
}
input,
textarea,
select,
button {
  border-radius: 5px;
  outline: none;
  font-size: 14px;
}
textarea {
  max-width: 520px;
  max-height: 300px;
  text-indent: 1em;
  color: #555555;
  border: 1px solid #cccccc;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
textarea:focus {
  border-color: #66afe9;
  box-shadow: 0 0 8px #66afe9;
  -webkit-box-shadow: 0 0 8px #66afe9;
}
input,
select {
  max-width: 250px;
  height: 35px;
  text-indent: 1em;
  color: #555555;
  border: 1px solid #cccccc;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
input:focus,
select:focus {
  border-color: #66afe9;
  box-shadow: 0 0 8px #66afe9;
  -webkit-box-shadow: 0 0 8px #66afe9;
}
.feedback,
.comments,
.add-comment {
  margin: 0 auto;
  max-width: 80%;
}
/*feedback btn*/
.diao {
  width: 50px;
  height: 50px;
  background-image: url('../img/diao.gif');
}
.diao:hover {
  border: 1px solid #285e8e;
}
.mengbi {
  width: 50px;
  height: 50px;
  background-image: url('../img/mengbi.jpg');
}
.mengbi:hover {
  border: 1px solid #285e8e;
}
