body {
    background-color: rgb(242, 247, 250);
}

.content {
    margin: 0 auto;
    max-width: 75%;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #07C;
    border-bottom: 1px dotted #07C;
}

a:hover {
    border-bottom: 1px solid #07C;
}

ul {}

li {
    margin-bottom: 5px;
}
