@font-face{
    font-family: 'socialicons';
    src: url('../font/socialicons.eot'); /* IE9*/
    src: url('../font/socialicons.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/socialicons.woff') format('woff'), /* chrome、firefox */
    url('../font/socialicons.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/socialicons.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.socialicons{
    font-family:"socialicons" !important;
    font-size: 30px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    border: none;
    color: rgb(180, 180, 180);
    &:hover{
        color: rgb(53, 126, 189);
    }
}

.social-list{
    list-style-type: none;
    & li{
        float: left;
    }
}

body {
    background-color: rgb(242, 247, 250);
}

.center(@maxWidth){
    margin: 30px auto;
    max-width: @maxWidth;
}

.panel {
    .center(75%);
}

.panel-header{
    border-bottom: 1px solid rgb(66, 66, 66);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #07C;
    border-bottom: 1px dotted #07C;
    &:hover{
        border-bottom: 1px solid #07C;
    }
}

ul {}

li {
    margin-bottom: 5px;
}

input, textarea, select, button{
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}

button{
    cursor: pointer;
}

.text(){
    text-indent: 1em;
    color: rgb(85, 85, 85);
    border: 1px solid rgb(204, 204, 204);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    &:focus{
        border-color: rgb(102, 175, 233);
        box-shadow: 0 0 8px rgb(102, 175, 233);
        -webkit-box-shadow: 0 0 8px rgb(102, 175, 233);
    }
}

textarea{
    width: 600px;
    height: 200px;
    .text();
}

input[type=text], select{
    width: 250px;
    height: 35px;
    .text();
}

.btn(){
    width: 120px;
    height: 45px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    border: 1px solid rgb(53, 126, 189);
    background: rgb(66, 139, 202);
    &:hover{
        border: 1px solid rgb(40, 94, 142);
        background: rgb(48, 113, 169);
    }
}

/*feedback btn*/
.feedbackBtn(@bg){
    width: 50px;
    height: 50px;
    border: 1px solid rgb(204, 204, 204);
    background-image: url(@bg);
    background-size: contain;
    &:hover{
        border: 1px solid rgb(53, 126, 189);
    }
}

.diao{
    .feedbackBtn('../img/diao.gif');
}

.mengbi{
    .feedbackBtn('../img/mengbi.jpg');
}

.add-comment form>*{
    display: block;
    margin: 10px 0;
}

.add-comment button[type=submit]{
    .btn();
}
