---
layout: default
---

<div class="back-home"><a href="{{ site.baseurl }}">← 回主页</a></div>
<div class="content panel">
<div class="panel-header">
    <h1>{{ page.title }}</h1>
</div>
{{ content }}
</div>

<div class="feedback panel">
<div class="panel-header">
    <h1>反馈</h1>
</div>
    <p>看完这篇blog，你的感受是？</p>
    <button class="diao" data-feedback="diao"></button>
    <button class="mengbi" data-feedback="mengbi"></button>
</div>

<div class="comment-area panel">
<div class="panel-header">
    <h1>评论区</h1>
</div>
<div class="comments"></div>
<div class="add-comment">
    <form action="/comments/addComment" method="post">
        <input class="hidden" type="text" name="title" value="{{ page.title }}" disabled="disabled">
        <textarea name="content" placeholder="留下你的见解" required="required"></textarea>
        <input type="text" name="name" placeholder="姓名（必填）" required="required">
        <input type="text" name="mail" placeholder="电邮（必填）" required="required">
        <input type="text" name="site" placeholder="网址">
        <label><input type="checkbox" name="remember">记住信息？</label>
        <button type="submit">必有高论</button>
    </form>
</div>
</div>

<script type="text/javascript" src="{{ 'js/post.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript">
    window.config = {
        url: {
            cors: 'http://api.c2ccc.space:3000'
            feedback: '/feedback',
            getComments: '/comments/getComments'
        },
        title: '{{ page.title }}'
    }
    $(document).ready(function(){
        new PostEvents();
    });
</script>