---
layout: default
---

<div class="content panel">
<div class="panel-header">
    <h1>{{ page.title }}</h1>
    <div class="tags">
        {% for tag in page.tags %}
        <span>{{ tag }}</span>
        {% endfor %}
    </div>
</div>
{{ content }}
</div>

{% if page.copyleft != nil %}
{% else %}
{% include copyleft.html %}
{% endif %}

<!-- {% if page.feedbackAndComment != nil %}
<div class="panel">
  <div class="panel-header"></div>
  <p>本篇blog已关闭评论功能</p>
</div>
{% else %}
{% include feedback-and-comment.html %}
{% endif %} -->
